.filterBar {
  margin-block-start: 1.5em;

  @media screen and (min-width: 48em) {
    align-items: center;
    display: flex;
    margin-block-start: 3em;
    margin-inline: 2em;
  }

  @media screen and (min-width: 75em) {
    margin-inline: 5em;
  }
}
