:root {
  --color-background: #fafafa;
  --color-element-background: #ffffff;
  --color-input-content: #777575;
  --color-input-placeholder: #777575;
  --color-text: #111517;
  --font-family: 'Nunito Sans', sans-serif;
  --font-weight-black: 900;
  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --input-focus-h: 0;
  --input-focus-l: 52%;
  --input-focus-s: 0%;
}

.dark {
  --color-background: #202c36;
  --color-element-background: #2b3844;
  --color-input-content: #ffffff;
  --color-input-placeholder: #ffffff;
  --color-text: #ffffff;
  --input-focus-h: 207;
  --input-focus-l: 17%;
  --input-focus-s: 26%;
}

html {
  font-size: 1rem;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentColor;
  }
}
