.card-link {
  text-decoration: none;
}

.card {
  background: var(--color-element-background);
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.03);
  margin-block-start: 2.5em;
  overflow: hidden;
  width: 16.5em;
}

.card-image {
  height: 160px;
  width: 264px;
}

.flag {
  margin-inline: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.cardBody {
  padding-block-end: 2.875em;
  padding-inline: 1.5em;
}

.countryName {
  color: var(--color-text);
  font-size: 1.125rem;
  font-weight: var(--font-weight-black);
  line-height: 1.625rem;
  margin-block-start: 1.5em;
}

.facts {
  margin-block-start: 1em;
}

.factGroup {
  display: flex;
  margin-block-start: 0.5em;
}

.factLabel {
  color: var(--color-text);
  font-size: 0.875rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 1rem;

  &::after {
    content: ': ';
  }
}

.factValue {
  color: var(--color-text);
  font-size: 0.875rem;
  font-weight: var(--font-weight-extra-light);
  line-height: 1rem;
  padding-inline-start: 0.5em;
}
